<nav class='col-12'>
    <ul class='nav justify-content-center nav-tabs nav-fill'>
        <li class='nav-item'><p><a class='nav-link' href='/'>Home</a></p></li>
        <li class='nav-item'><p><a class='nav-link' href='/create'>Create Item</a></p></li>
    </ul>
</nav>