<!DOCTYPE html>

<html lang='en-US'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta http-equiv='x-ua-compatible' content='ie=edge, chrome=1' />
        <meta name='author' content='John Rhey Damian' />
        <meta name='description' content='A simple nodejs for Questronix practical exam' />

        <title>Questronix | Create New Item</title>
    </head>
    <body>
        <header>
            <%- include('../partials/navigation') -%>
        </header>
        <main>
            <form id='itemform' method='POST'>
                <fieldset>
                    <legend>Item Details: </legend>

                    <label for='name'><p>Name: </p></label>
                    <input id='name' name='Name' type='text' value='' placeholder='ItemX' />
                    <label for='quantity'><p>Quantity: </p></label>
                    <input id='quantity' name='Quantity' type='number' value='0' min='0' max='99' placeholder='0' />
                    <label for='amount'><p>Amount: </p></label>
                    <input id='amount' name='Amount' type='number' value='0' min='0' max='9999' placeholder='0' />
                    
                    <button type='submit'>Create</button>
                    <button type='reset'>Reset</button>
                </fieldset>
            </form>
        </main>
    </body>

    <script type='text/javascript'>
        window.addEventListener("load", () => {
            function Submit()
            {
                const request = new XMLHttpRequest();
                request.onreadystatechange = () => {
                    if(request.status == 200)
                    {
                        window.location.href = "./";
                    }
                };
                var data = {};
                data.Name = document.getElementById("name").value;
                data.Quantity = document.getElementById("quantity").value;
                data.Amount = document.getElementById("amount").value;

                request.open("PUT", "create");
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                request.send(JSON.stringify(data));
            }

            const itemform = document.getElementById("itemform");
            itemform.addEventListener("submit", (event) => {
                event.preventDefault();
                Submit();
            });
        });
    </script>
</html>